[2016-01-19 17:11] urso commented on #328
the events are embedded into an json object (with additional meta data) when being send to logstash. This event contains a `message` field with the line read from your file. After parsing the json-object in logstash beats plugin, the `message` field is passed to the `json codec` creating the final event object to be passed to the filter chain. It is up to the input plugin to decide on how codecs a

[2016-01-19 18:20] adrianlop commented on #328
@urso thank you! I'll try this tomorrow and will come back to post some feedback :)

[2016-01-25 11:57] kri5 commented on #230
No news on this feature?

It seems pretty important since it induces a breaking change compared to logstash-forwarder, as it supported environment variables.

It would make user migration to filebeat a lot easier.

[2016-01-25 12:54] ruflin commented on #230
@kri5 This should answer your question: https://github.com/elastic/beats/pull/715 Closing this issue here. For further discussion please use discuss or the beats repo.

[2016-01-25 12:54] #230 closed

[2016-01-28 18:12] tfendt opened #329 "Filebeat SSL Not Working"
I followed this document: [Migrating from Logstash Forwarder to Filebeat](https://www.elastic.co/guide/en/beats/filebeat/current/_migrating_from_logstash_forwarder_to_filebeat.html) for converting from logstash-forwarder to file beat and I am getting the following error when trying to start Filebeat:

2016/01/28 17:59:11.733665 transport.go:125: ERR SSL client failed to connect with: read tcp clie

[2016-01-28 18:29] andrewkroh commented on #329
Could you please post the entire Filebeat config file and the logstash config that you are using. Also what versions of Filebeat, Logstash, and logstash-input-beats plugin are you using?

[2016-01-28 20:23] tfendt commented on #329
Sure thing. I am using Filebeat 1.0.1, Logstash 2.1.1, Logstash-input-beats 2.0.3.

When you asked about the beats input plugin I realized I was not using it. I updated the logstash config to use it and now I am getting a different error. The new error is:

transport.go:125: ERR SSL client failed to connect with: EOF

Filebeat Config:
[code]

Logstash Config:
[code]

[2016-01-28 20:26] andrewkroh commented on #329
It looks like you need to change Filebeat to connect to port 5044 where the beats input is listening.

[2016-01-28 20:28] andrewkroh commented on #329
Also there is newer version of the logstast-input-beats plugin available. You can update using:

`bin/plugin update logstash-input-beats`

[2016-01-28 20:34] tfendt commented on #329
I corrected the port and had the same error. I think I may have solved it though, I added this to the logstash input:
`ssl => true`

I am no longer getting the error.

[2016-01-28 20:38] andrewkroh commented on #329
Glad it's working now.

[2016-01-28 20:38] #329 closed

[2016-02-04 10:37] sebbarg opened #330 "File handles (still) not closing on Windows"
Hi,

I'm on Windows 2012R2 / NTFS / filebeat 1.1.0.

From the log:
2016-02-04T09:12:25Z INFO Set ignore_older duration to 24h0m0s

Once a file has been recorded in the "registry" the above setting has /no/ effect for files with modified timestamps older than 24hrs.

If I manually delete the file entry in the registry and restart filebeat, too-old files are correctly ignored (i.e. no handles to the

[2016-02-04 10:40] sebbarg commented on #330
Moving issue to new repo

[2016-02-04 10:40] #330 closed

[2016-02-04 21:24] chad-upton opened #331 "Multiple paths with different settings?"
Does beats support doing something like:

[code]

What I think is happening is it only does a harvester for the last one in the log.  Is there another way I should be doing this?

Thanks!

[2016-02-04 21:41] chad-upton commented on #331
Nevermind figured it out.. just in case someone else wants to do this:

[code]

Just add another prospector as -.

[2016-02-04 21:41] #331 closed

[2016-02-08 14:15] wesleymusgrove opened #332 "Filebeat 1.1.0 multiline pattern regex error"
I'm attempting to use Filebeat's new multiline functionality for logs that begin with an ISO 8601 formatted date and span multiple lines.  New log events always start with the date and every line after that needs to be merged into the previous line.  This ISO 8601 regex isn't intended to be super strict, I'm just simply checking for a valid format.

So here's my filebeat.yml multiline config:

[2016-02-08 14:19] urso commented on #332
we're in the middle of documenting regex support as it's not so obvious. Check out elastic/beats#928 .
character classes like '\d' are not supported, but you can replace them via `[0-9]` or `[[:digit:]]`

please put these kind of question on our forum [discuss.elastic.co](discuss.elastic.co), as more people might be able to answer.

[2016-02-08 14:19] #332 closed

[2016-02-08 15:16] konrad-garus commented on #311
If it can be done with Logstash, Filebeat should support it as well. Yes, Elasticsearch does not like it when the same field has different types in logs. I have actually been bitten by this. It's perfectly fine though - my mistake, I fixed my logs, done.

It's better to have some support for structured data (should be obvious) and let developers fix their mistakes with regards to schema, than have

[2016-02-10 15:05] Cylindric opened #333 "Monitoring a busy file, but getting "Not harvesting, file didn't change""
I am using FileBeat to ship Varnish logs to Logstash, and the log file I'm monitoring is heavily written to. If I 'tail' the file, I get a constant stream of records.

My varnish log is set to rotate every hour, using hourly `logrotate`:

	/var/log/varnish/*.log {
		rotate 4
		size 1k
		dateext
		dateformat .%Y%m%d.%s
		missingok
		notifempty
		sharedscripts
		nocompress
		postrotate
			/bin/kill

[2016-02-10 23:28] Cylindric commented on #236
Apologies for letting this sit. I suspect it may have been caused by the same issue as this: https://github.com/elastic/beats/issues/905

[2016-02-11 08:24] ruflin commented on #333
Do you know if the harvesting stops after rotating? It would be good to have the part of the log file where it harvests for the last time and then stops.

[2016-02-11 08:49] ruflin commented on #236
@Cylindric Should we close this an track it in elastic/beats#905?

[2016-02-11 11:39] Cylindric commented on #333
Seems to end about here, onwards from there, that "full line read" repeats many times

	2016-02-11T09:32:54Z DBG  End of file reached: /var/log/varnish/varnishncsa.log; Backoff now.
	2016-02-11T09:32:57Z DBG  End of file reached: /var/log/varnish/varnishncsa.log; Backoff now.
	2016-02-11T09:32:57Z DBG  End of file reached: /var/log/varnish/varnishncsa.log; Backoff now.
	2016-02-11T09:32:57Z DBG  E

[2016-02-11 12:04] Cylindric commented on #236
Yes, that sounds fine.

[2016-02-11 12:04] #236 closed

[2016-02-11 13:41] ruflin commented on #333
It looks like an issue in sending data to logstash. There were several fixes here in the last days but @urso knows here more. The snapshot was rebuilt again a few hours ago. Perhaps you can try again the most recent version.

[2016-02-12 13:19] lwhitworth commented on #271
Think I'm seeing the same issue on a RHEL 6.7 system:

[code]
As you can probably tell from the file names, .../janet_argus... is most definitely not a rename of .../resnet_argus...

Does anyone have any effective workarounds I can try?

[2016-02-12 16:39] chrusty commented on #213
+1 here too!

[2016-02-14 00:40] smaniero opened #334 "Filebeat do not track file rotation"
I'm confused by the behavior of filebeat when detect file rotation.

To reproduce:

my config file:
[code]

Create log file with command:
[code]

registry file contains:
[code]

Rotate log file with command:
[code]

Now I except 2 file in registy file, instead:
[code]

So I try to modify rotated.log file with command:
[code]

and out stdout I see:
[code]

Why filebeat detect rename but non modify

[2016-02-15 14:16] gnhuy91 opened #335 "start filebeat as a background process"
I know we can do something like `filebeat -c filebeat.yml &`, but I'd love to have an official run option.

[2016-02-16 17:27] ruflin commented on #271
@lwhitworth How does your log rotation / deletion look like at the moment?

[2016-02-18 08:44] lwhitworth commented on #271
Logs are deleted by a script which runs at 3am every morning and searches for files older than 24 hours and deletes them:

find /data/logstash/ -name "*.txt" -type f -mmin +$((60*24)) -exec rm {} \;

[2016-02-18 15:53] ruflin commented on #271
Further discussion going on here: https://discuss.elastic.co/t/old-file-with-new-name-found/41766

[2016-02-18 17:08] mgcrea commented on #213
:+1: Heavily needed to replace fluentd.

[2016-02-18 21:15] cdelgadob commented on #148
Any news about this enhancement?

What is the recommended procedure to install Filebeat in enterprise environments?

[2016-02-19 17:25] tsg commented on #130
Windows events logs are now available via [Winlogbeat](https://www.elastic.co/downloads/beats/winlogbeat).

[2016-02-19 17:25] #130 closed

[2016-02-22 21:09] danielmotaleite opened #336 "Is reload suported?"
Hi

when trying to do a filebeat reload i get:

      # systemctl reload filebeat
      Failed to reload filebeat.service: Job type reload is not applicable for unit filebeat.service.

Is there any way of doing reload? if not, can it be added? or at least restart if it is safe that i will not lose file position, so the command do not fail

Thanks for the help

[2016-02-22 22:31] ntent-ashton opened #337 "Feature Request: Grok Patterns for Multi-Line Matching"
It would be exceedingly cleaner to be able to use the standard grok pattern library (%{PATTERN_NAME} format) in multi-line matching.

Also, it might be nice to support custom patterns as well, like Logstash.

[2016-02-22 22:33] webmstr commented on #337
Same with exclude_lines, etc.

[2016-02-23 04:45] andrewkroh commented on #336
This repository is deprecated. Filebeat bugs and enhancements are now tracked in [elastic/beats](https://github.com/elastic/beats). For future questions use [Discuss](https://discuss.elastic.co/c/beats/filebeat).

Filebeat does not currently support config reload. It is safe to restart the Filebeat. The file position will not be lost.

[2016-02-23 04:45] #336 closed

[2016-02-24 02:05] pemontto commented on #132
:+1:  for Redis support

[2016-02-24 16:42] niteshsaini commented on #167
Hi ruflin facing same issue

2016/02/24 16:37:06.892097 prospector.go:179: DBG  Start next scan
2016/02/24 16:37:06.892163 prospector.go:246: DBG  scan path /usr/local/apache2/logs/secure.payu.in_access_log.*
2016/02/24 16:37:06.892255 prospector.go:259: DBG  Check file for harvesting: /usr/local/apache2/logs/secure.payu.in_access_log.20160216
2016/02/24 16:37:06.892276 prospector.go:382: DBG  Upd

[2016-02-24 22:52] ruflin commented on #167
@niteshsaini Which version are you using?

[2016-02-25 05:40] niteshsaini commented on #167
I am using filebeat-1.0.1-1 and also tried filebeat-1.1.1-1

[2016-02-25 11:35] mgcrea commented on #311
Big :+1: for native JSON support, should be a first-class citizen as it is so widely used. Also JSON being natively supported by go, so the complexity should not increase that much.

[2016-02-25 13:59] RehanSaeed commented on #311
+1 Was making the switch to FileBeat but looks like it's just not ready.

[2016-02-25 14:12] fatmanmclone90 commented on #311
Please implement this

[2016-02-26 00:30] vinuguna commented on #335
you can install filebeat as a service.

for example:

# curl https://packages.elasticsearch.org/GPG-KEY-elasticsearch | sudo apt-key add -
# echo "deb https://packages.elastic.co/beats/apt stable main" |  sudo tee -a /etc/apt/sources.list.d/beats.list
# sudo apt-get update && sudo apt-get install filebeat
# sudo update-rc.d filebeat defaults 95 10
# service filebeat start

[2016-02-26 00:31] vinuguna commented on #335
you can install filebeat as a service:

 - curl https://packages.elasticsearch.org/GPG-KEY-elasticsearch | sudo apt-key add -
 - echo "deb https://packages.elastic.co/beats/apt stable main" |  sudo tee -a /etc/apt/sources.list.d/beats.list
 - sudo apt-get update && sudo apt-get install filebeat
 - sudo update-rc.d filebeat defaults 95 10
 - service filebeat start

[2016-02-26 00:34] Vinu2903 commented on #335
you can install filebeat as a service:

For example:

curl https://packages.elasticsearch.org/GPG-KEY-elasticsearch | sudo apt-key add -
echo "deb https://packages.elastic.co/beats/apt stable main" | sudo tee -a /etc/apt/sources.list.d/beats.list
sudo apt-get update && sudo apt-get install filebeat
sudo update-rc.d filebeat defaults 95 10
service filebeat start

[2016-02-26 00:39] Vinu2903 opened #338 "Increase filebeat worker threads?"
Is there a way to increase Filebeat's worker threads and have it read multiple log files at the same time?

[2016-02-26 00:46] andrewkroh commented on #335
This repo is no longer used.

You already opened this issue in the new repo elastic/beats#984

[2016-02-26 00:46] #335 closed

[2016-02-26 00:52] andrewkroh commented on #338
This repository is no longer being used. Please post your question to https://discuss.elastic.co/c/beats/filebeat.

[2016-02-26 00:52] #338 closed

[2016-02-26 02:50] niteshsaini commented on #167
@ruflin waiting for your response

[2016-02-26 15:49] oazabir commented on #227
Adding my vote to this. We are in dire need of file specific lines/sec limit. Sometimes we get flood of traffic which floods our logs and then filebeat honestly tries to use all available processing power to ship them to logstash and logstash dies, taking everything else with it. Not to mention filebeat itself consuming way too much CPU on the server when we badly need CPU to be free.

[2016-02-27 02:53] jsosic commented on #132
:+1: for Redis

[2016-02-28 19:37] ruflin commented on #213
I will close this in favor of https://github.com/elastic/beats/issues/536 Lets continue the discussion there.

[2016-02-28 19:37] #213 closed

[2016-02-28 19:52] ruflin commented on #167
@niteshsaini The above issue should be resolved. Looking at your config file it looks like you are not using utf-8 encoding. Also you have tail_files enabled. Is that on purpose? As your issue does not seem to be related to the above issue, please open a discussion here with your problem and please add some more details on what exactly your problem is: https://discuss.elastic.co/c/beats/filebeat

[2016-02-28 20:00] ruflin commented on #132
Thanks for all the inputs and discussions. Based on this and some additional discussions we decided to undeprecate Redis output (https://github.com/elastic/beats/pull/1008) and add additional outputs (https://github.com/elastic/beats/issues/943). Closing this issue.

[2016-02-28 20:00] #132 closed

[2016-02-29 11:27] guyboertje commented on #311
@mgcrea, @RehanSaeed, @fatmanmclone90 - How are you generating the JSON string that is put into your logs. Are you using a JSON generator in your application or the [nginx/apache log format hack?](https://blog.logentries.com/2014/08/json-logging-in-apache-and-nginx-with-logentries/) It is important that the JSON conforms exactly to the JSON spec - especially regarding escaping control characters.

[2016-02-29 11:40] RehanSaeed commented on #311
We are using the [Serilog](http://serilog.net/) logging framework to generate JSON logs. Each line in our logs looks something like this:

[code]

Most of our logs have the same JSON properties as the above line. When an exception occurs or when we provide additional custom information in our logs, we do have additional properties that appear under the `Properties' section.

[2016-02-29 11:47] mgcrea commented on #311
For us, we are using the NodeJS package [Bunyan](https://github.com/trentm/node-bunyan), our backend directly writes logs (NginX is only used as an HTTPS proxy).

From the README:

**Bunyan log records are JSON.** A few fields are added automatically:
"pid", "hostname", "time" and "v".

[code]

[2016-02-29 11:54] guyboertje commented on #311
@mgcrea, @RehanSaeed - this is good information for us to know. Thanks.

[2016-02-29 22:56] pickypg opened #339 "Allow finding host FQDN"
Apparently Go does not provide the FQDN on all systems (particularly Linux, it seems) because it checks `/bin/hostname` rather than `/bin/hostname -f`.

Here's the Go test showing that they accept the shortname: https://golang.org/src/os/os_test.go#L1341

It would be great if we could fill in the actual FQDN rather than an unexpected subset, but it does mean providing an appropriate mechanism for

[2016-02-29 22:57] pickypg commented on #339
As a workaround, #715 will allow environment variables to fill this in, but it still requires something else in the environment to be used.

[2016-02-29 22:59] pickypg commented on #339
Maybe I should make this over at the beats repo?

[2016-02-29 22:59] andrewkroh commented on #339
Yeah, please open it in the beats repo.

[2016-02-29 22:59] #339 closed

[2016-02-29 23:00] pickypg commented on #339
https://github.com/elastic/beats/issues/1070 Done.

[2016-03-01 06:20] gohelion opened #340 "cannot use encoding.Replacement.NewEncoder"
Just pulled filebeat from my windows dev box and getting this error(same happens on mac too)

[code]

Is this a known issue ?
Upon investigation, I was able to resolve this by the following changes:

[code]

[2016-03-01 08:02] ruflin commented on #340
We use a specific version of golang.org/x/text: https://github.com/elastic/beats/blob/master/glide.yaml#L30 This version is not compatible with the most recent version. Could it be that you don't have `GO15VENDOREXPERIMENT=1` enabled and it uses your the dependencies inside your GOPATH instead of the ones under vendor?

Side note: I updated your issue above with code formatting to make it better r

[2016-03-01 10:22] ruflin commented on #300
Closing as I think that was resolved in the most recent version of filebeat (@andrewkrow?)

[2016-03-01 10:22] #300 closed

[2016-03-01 10:24] ruflin commented on #269
Closing in favor of: https://github.com/elastic/beats/issues/1022

[2016-03-01 10:24] #269 closed

[2016-03-03 10:00] alpha-centauri commented on #301
Has the combination of start / end patterns feature made it into 1.1? Or is it planned for a future release?

And what about the tagging ("multiline") proposal (@ruflin You proposed flagging multiline true / false)?

I cannot find any hints in the docs.

[2016-03-03 11:55] ruflin commented on #301
@alpha-centauri start / end pattern is not implemented yet. We went for the simple implementation first to ship it faster. In case you have a start / end use case, can you provide some information on how it looks like?

For the multiline flag: https://github.com/elastic/beats/issues/957 It is not implemented yet.

[2016-03-03 12:10] guyboertje commented on #301
@ruflin: FYI, @urso and I discussed a new state-machine that could support start/end patterns very easily.
We agreed to reuse the same logic and synchronise our efforts over the next few weeks.

[2016-03-03 13:15] ruflin commented on #301
@guyboertje That is great.

[2016-03-04 00:56] jhoff909 commented on #301
@ruflin Is https://github.com/elastic/beats/issues/957 still planned?  Any eta guesstimate?

[2016-03-04 08:59] ruflin commented on #301
@jhoff909 Yes, but no eta. Happy to accept a PR here.

[2016-03-04 14:09] tripledes opened #341 "Output defined in config_dir, filebeat fails to start"
I'm trying to build a bit of a dynamic docker image with `filebeat`, where the environment variables substitution works great :-), however, I'd like to use the `config_dir` directive to define the output based on some other environment variables but it turns out that the parser expects an output to be defined on the main configuration file before even trying to parse the files on `config_dir`.

[c

[2016-03-04 14:28] tripledes commented on #341
Closing, moved to https://github.com/elastic/beats/issues/1112

[2016-03-04 14:28] #341 closed

[2016-03-07 00:55] wenwenyun opened #342 "Filebeat lost the last line of log file"

[2016-03-07 07:06] ruflin commented on #342
@wenwenyun Can you please provide here some more information? Which version are you using? Which OS? Are you using file rotation? How did it happen?

[2016-03-07 16:58] vnazarenko commented on #311
+1 for json processing on filebeat side.

[2016-03-08 10:18] matglas opened #343 "Filebeat backoff_factor does not work"
I setup my filebeat to backoff. But the info that is returned is showing that it does not work.

host2_1 is de log from a my Docker container running filebveat.
[code]

Here is my setup.
[code]

I using Filebeat 1.1.2.
And I run it with `filebeat -e -v -c=/etc/filebeat/filebeat.yml`

Anyone having the same experience.

[2016-03-08 13:40] nigelp-vci opened #344 "config dir only using prospectors from first yml file"
filebeat on windows, using the config_dir correctly loads/fetchs all the additional yml files in the directory.
however only prospectors from the first yml file are actually started

[2016-03-08 14:39] ruflin commented on #344
Can you share the content of your config files to make sure the configuration files are correct?

[2016-03-08 15:05] nigelp-vci commented on #344
after further testing i've found the following:

Scenario 1: filebeat.yml contains all prospectors. All files logged.
Scenario 2: filebeat.yml contains no prospectors, config_dir contains 2 yml config files: iis, api. Only iis logged
Scenario 3: filebeat.yml contains api prospectors, config_dir contains iis yml config. all fileslogged.
Scenario 4: filebeat.yml contains no prospectors, config_dir c

[2016-03-08 15:06] nigelp-vci commented on #344
seems the "write" is reformating the config file entries above

[2016-03-08 15:08] ruflin commented on #344
@nigelp-vci Use 3 backticks around the config files for better formatting.

[2016-03-08 15:10] nigelp-vci commented on #344
- filebeat.yml - no prospectors

[code]

[2016-03-08 15:11] nigelp-vci commented on #344
- iis.yml
[code]

[2016-03-08 15:12] nigelp-vci commented on #344
- api.yml
[code]

[2016-03-08 15:14] nigelp-vci commented on #344
from testing it would seem that there is a problem with the api.yml file
yet including the prospector from that file into either the iis.yml or the filebeat.yml works

[2016-03-08 15:18] ruflin commented on #344
That is definitively strange. One unrelated part that surprises me is that the remaining entries are required. They shouldn't. Which filebeat version are you using? What error do you get if you remove it?

BTW: Github comments can be edited, so next time you don't have to repost it.

[2016-03-08 15:21] nigelp-vci commented on #344
filebeat 1.1.1 for windows

extract from including yml file:
[code]

[2016-03-08 15:26] ruflin commented on #344
I see, you are "interpreting" the "full filebeat config part" as output, shipper and logging. These three are actually configurations from libbeat and not filebeat. The reason that is is written that way is because some people left out filebeat on the top level and only put prospectors in. Probably we should mention specifically that output, shipper and logging is not needed. (@dede What do you th

[2016-03-08 15:43] nigelp-vci commented on #344
Amazingly that solved it ! (removing the additional entries in the additional config files, so that they each only had "Prospector")

[2016-03-08 15:43] nigelp-vci commented on #344
thanks for your help

[2016-03-08 15:44] nigelp-vci commented on #344
any chance you can see why the exclude_lines RegEx fails

[2016-03-08 15:48] ruflin commented on #344
That is really strange to be honest. Glad it was resolved by removing it but I will dig here deeper on if that is an issue if there are "too many" config options in.

In the future please use https://discuss.elastic.co/c/beats/filebeat first as we try to keep only confirmed bugs in Github. For the regexp, please open a new topic on discuss and also post an example of your log file.

[2016-03-08 15:48] #344 closed

[2016-03-08 15:53] nigelp-vci commented on #344
No worries. Ended up @ Github after googling “filebeat bug” top few results all at github

Perhaps a change request to “ignore” anything other than filebeat entries in the files from the config directory ?

Nigel Piggott  |  Vantage Computing Ltd

t +44 (0)1462 791120  |  f +44 (0)1462 888480

From: Nicolas Ruflin [mailto:notifications@github.com]
Sent: 08 March 2016 15:49
To: elastic/filebeat <fi

[2016-03-08 15:54] ruflin commented on #344
We will have better config validation in the future with ucfg: https://github.com/urso/ucfg. This will solve it indirectly.

[2016-03-08 23:10] ruflin commented on #343
It seems we are talking here about two different backoff values:

* Backoff in filebeat is about how aggressive files are checked again when the end of the file was reached. That is what the filebeat configs are for: https://www.elastic.co/guide/en/beats/filebeat/current/configuration-filebeat-options.html#_backoff
* Backoff of the output when the output is not reacheable. This is dependent on the

[2016-03-08 23:12] ruflin commented on #343
@matglas Closing this issue as I don't think it is a bug, but we can continue the discussion here as I think there are two points we should tackle: Do the docs need to improved? Should the log output be improved?

Be aware that all development was moved to the beats repo: https://github.com/elastic/beats For questions it is always best to start a discussion under https://discuss.elastic.co/c/beats

[2016-03-08 23:12] #343 closed

[2016-03-09 02:50] wenwenyun commented on #342
[root@YWser-01 product_lost_order_alert]# cat order.log | grep 2016030623061155008618416
merno=00000000000126,ordertime=20160306230615,prdordno=2016030623061155008618416
[root@YWser-01 product_lost_order_alert]# cat /etc/filebeat/filebeat.yml
filebeat:
  prospectors:
    -
      paths:
        - "/root/bin/product_lost_order_alert/order.log"
      document_type: "netapp_lost_order"

output:
  logs

[2016-03-09 09:01] ruflin commented on #342
Thanks for providing the config files. I still think I need more information. What is exactly happening that you didn't expect? Can you please open a discuss topic here with all this information and linking to this issue? https://discuss.elastic.co/c/beats/filebeat

We want to reserve Github for confirmed bugs. I will close this issue so we can continue the discussion on your discuss topic. Feel f

[2016-03-09 09:01] #342 closed

[2016-03-09 13:20] cernicb opened #345 "filebeat connection refused"
We use filebeat -> logstash to transport logs to graylog. As soon as filebeat logs:

it is followed by:

and connection to logstash is lost, and status check on logstash returns "not running". Logstash logs something like:

x.x.x.x and y.y.y.y ping each other.

After that point, there are no incoming logs on graylog. Once we start logstash again, everything is ok until new EOF arises.

We use logs

[2016-03-09 16:58] mfriedenhagen commented on #311
In the Java world there are a some of "enhancers" for logging which will produce JSON:
* https://github.com/logstash/logstash-logback-encoder
* https://github.com/SYNAXON/logstash-util-formatter
You might configure the Java applications to do logging directly, but this introduces another direct dependency to logstash. Writing JSON intermediately to a file or (e.g. with containers) to stderr decoup

[2016-03-10 11:20] ruflin commented on #345
Have a look at the issues related to "remote connection closed": https://github.com/logstash-plugins/logstash-input-beats/issues?utf8=%E2%9C%93&q=is%3Aissue++Remote+connection

For questions please use the discuss forum as we want to keep Github for confirmed bugs: https://discuss.elastic.co/c/beats/filebeat Happy to dig deeper there. Closing this issue as also the filebeat repository is now part

[2016-03-10 11:20] #345 closed

[2016-03-10 11:31] ruflin commented on #345
@cernicb I just realised you also posted it here: https://discuss.elastic.co/t/filebeat-connection-refused-eof/43914 Please don't double post.

[2016-03-15 09:29] lhoss commented on #315
anybody see the value of this *Enhancement* request  or it's not clear? (I updated the example use-case, hopefully more clear now)
@ruflin maybe ?

[2016-03-15 09:56] ruflin commented on #315
I definitively see the value of knowing who the user is. I'm not 100% sure it fits the filebeat model. The reason is that the owner stays mostly the same over the lifetime of the file and would be lots of duplicated data for each line (yes I know, we have parts of this already).

Is it just about knowing the user of the log file or is this a general problem? If yes, a separate beat could be used t

[2016-03-15 13:43] ruflin commented on #333
@Cylindric Does the problem still occur on your side?

[2016-03-15 13:44] ruflin commented on #340
Closing this issue as I think it is not a bug. Please reopen if you think differently.

[2016-03-15 13:44] #340 closed

[2016-03-15 13:45] ruflin commented on #311
For reference: @tsg Has done two implementation of JSON here:
* https://github.com/elastic/beats/pull/1069
* https://github.com/elastic/beats/pull/1143

[2016-03-15 13:47] ruflin commented on #180
Closing as this is indirectly tested by some system tests.

[2016-03-15 13:47] #180 closed

[2016-03-15 13:49] ruflin commented on #59
This was implemented as max_bytes with the multiline implementation: https://github.com/elastic/beats/pull/570

[2016-03-15 13:49] #59 closed

[2016-03-15 13:50] ruflin commented on #323
Closing as this does not seem to be a bug. In case the issue still exists, please open a discuss topic on https://discuss.elastic.co/c/beats/filebeat

[2016-03-15 13:50] #323 closed

[2016-03-15 13:51] ruflin commented on #324
Closing. See also https://github.com/elastic/filebeat/issues/323

[2016-03-15 13:51] #324 closed

[2016-03-15 13:52] ruflin commented on #278
@andrewkroh Is this is still the case with the most recent fields implementation (didn't test)?

[2016-03-15 13:53] ruflin commented on #240
Closing as this is a general beat issue and less filebeat specific.

[2016-03-15 13:53] #240 closed

[2016-03-15 13:54] ruflin commented on #220
Closing this issue as no update recently. In case the problem persists, please open a topic under https://discuss.elastic.co/c/beats/filebeat

[2016-03-15 13:54] #220 closed

[2016-03-15 13:56] ruflin commented on #212
All follow up conversation should go into https://github.com/elastic/beats/issues/1034. Closing this issue.

[2016-03-15 13:56] #212 closed

[2016-03-15 13:57] ruflin commented on #219
Closing as duplicate of https://github.com/elastic/filebeat/issues/134

[2016-03-15 13:57] #219 closed

[2016-03-15 13:58] ruflin commented on #228
Closing this issue as during the last month logging has been constantly improved. There is still potential for improvement but I think we reached now a reasonable state.

[2016-03-15 13:58] #228 closed

[2016-03-15 13:59] ruflin commented on #92
This has been implemented.

[2016-03-15 13:59] #92 closed

[2016-03-15 14:00] ruflin commented on #181
close_older implemented in https://github.com/elastic/beats/pull/718

[2016-03-15 14:00] #181 closed

[2016-03-15 14:02] ruflin commented on #334
Is this a duplicate of https://github.com/elastic/beats/issues/1010 ? Please reopen if not.

[2016-03-15 14:02] #334 closed

[2016-03-15 14:03] ruflin commented on #238
With the introduction of close_older this error message will disappear. Closing. https://github.com/elastic/beats/pull/718

[2016-03-15 14:03] #238 closed

[2016-03-15 14:03] ruflin commented on #142
Part of the refactoring was done in the move to modules. More to follow. Closing as no specific issue currently needed.

[2016-03-15 14:03] #142 closed

[2016-03-15 14:05] ruflin commented on #319
There were several fixes in the most recent filebeat version related to missing updates. Please check the most recent version. If the error still exists, open an issue in the beats repo: https://github.com/elastic/beats/

[2016-03-15 14:05] #319 closed

[2016-03-15 14:29] ruflin commented on #227
Closing in favor of https://github.com/elastic/beats/issues/662 to have it in the beats repo.

[2016-03-15 14:29] #227 closed

[2016-03-15 14:56] andrewkroh commented on #278
If `fields` is not used in your configuration then `fields` will not be present in the output JSON.

[2016-03-15 15:09] ruflin commented on #278
@andrewkroh Thanks. Based on this closing this issue.

[2016-03-15 15:09] #278 closed

[2016-03-21 11:48] Rajeshkumar123 opened #347 "File beat multiline is not working for XML type of files"
Hi,

I am using `logstash 2.2.1` and `logstash-input beats-2.1.3`. I have some XML type of log files. I have written beats config. I am facing two kinds of issues as follows.

**Issue 1**: The xml log file multiline events are not getting combined into single event as expected.
**Issue 2**: Beats keep on fetching the XML files. It's not getting stopped. How to overcome this.

Below is my beats yml

[2016-03-21 20:07] ruflin commented on #347
For the pattern try it without ". For the second issue I'm not sure what you mean by not getting stopped.

I will close this issue as the filebeat repository is not active anymore and all questions should be posted on discuss: https://discuss.elastic.co/c/beats/filebeat Happy to continue answering there.

Which filebeat version are you using?

[2016-03-21 20:07] #347 closed

[2016-03-28 08:13] lostz commented on #340
It looks ugly. Can we have a better way to solve  it ?

[2016-03-28 08:50] ruflin commented on #340
@lostz Can you be more specific?

[2016-03-28 09:00] lostz commented on #340
I use part of code in my project , I still use golang.org/x/text/encoding , so......

[2016-03-28 09:08] ruflin commented on #340
You mean the version of text/encoding you use in your project conflicts with the version in the vendor directory from libbeat? If this is the case, one solution that could probably work but I didn't test is to have a local vendor directory which has text/encoding inside with the specific version tagged. Agree a little bit ugly, but could work.

The best way forward here is to update the text/encod

[2016-03-28 09:18] lostz commented on #340
ok,thanks.

[2016-03-30 14:08] fatmanmclone90 commented on #311
Has this functionality been released in Filebeats 1.1.2?  If so, is there any guidance on how to setup the config and templates?

[2016-03-30 14:11] tsg commented on #311
@fatmanmclone90 No, it wasn't. https://github.com/elastic/beats/pull/1143 was only merged in master last week. We're going to have a 5.0-alpha1, most likely next week, and it will be in that. But, well, alpha.

[2016-03-31 00:50] kylecordes commented on #311
It seems like a number of us have a similar use case. We are already emitting lines of log which consist of JSON in the exact form it needs to land in elastic. We have a logstash running somewhere, using a surprising amount of RAM, performing basically no processing as it takes these lines of JSON and shove them into elastic. Even an alpha version of something that eliminates that large complex sy

[2016-04-01 09:34] linrongfu26 commented on #342
i user filebeat 1.1.2 and have the same problem ,my log file has 6 line,but the stdout in concole only print 5 line

[2016-04-01 19:38] ruflin commented on #342
@linrongfu26 Can you open a topic on https://discuss.elastic.co/c/beats/filebeat with more details on your issue? In case we find this is a bug, we can either reopen this issue or create a new one.

[2016-04-13 09:37] YLombardi opened #348 "How to send json directly to elasticsearch ?"
Hi.

I have a spring application that use logback and LogstashEncoder to directly parse logs and generate json files.
I want to use filebeat to read the json file and send it to Elasticsearch without adding anything.

Currently, a line in my json file is like this :

[code]

As you can see, it is already parsed. I want to send this to Elasticsearch but filebeat seems to wrap the line and add infor

[2016-04-13 09:57] tsg commented on #348
Note that this repository is no longer used, Filebeat moved to https://github.com/elastic/beats. Also, for questions like this, we prefer to have topics opened on https://discuss.elastic.co/c/beats/ rather than issues in Github.

The next major version of Filebeat (for which you can try the alpha1 release if you'd like) has native JSON support, so you can send the contents of the original dictiona

[2016-04-13 09:57] #348 closed

[2016-04-13 11:55] YLombardi commented on #348
Thanks for your answer. I will look at the discuss site.

[2016-04-21 12:40] sunilmchaudhari commented on #137
Hi,
I wwas using LSF before with new fields added in LSF.conf as below
{
      "paths": [
        "C:/logs/piletti/user-mgmt.log"
      ],
      "fields": { "type": "iam-logs","Application":"iam" }
    }

on Kibana I could see exactly same fields on left side filed list.
However that is not the case with FB.
1) It shows fields.application
2) Also it doesnt accept upper case in field value.

How to

[2016-04-22 11:24] morganchristiansson commented on #271
Does filebeat recommend/support/not support any specific rotating policies? Would be good to know as I'm in the process of implementing this and most of them rely on renames which apparently can be problematic.

[2016-04-25 07:16] ruflin commented on #271
There is currently no document that describes which are recommended and which not. But I think based on your description you understood the limitations very well.

Currently there is no option to disable the inode detection. We are currently discussing a fingerprint detection which does not rely on inode or filename together with LS. Some more details can be found here: https://github.com/jordansi

[2016-04-25 12:51] luchaninov opened #349 "Typo in config file comment"
https://github.com/elastic/filebeat/blob/15b7863d6c4aca2fc67bae0d64397d6ece7d409e/etc/filebeat.yml#L326

Should be "Windows"

[2016-04-25 13:07] tsg commented on #349
Thanks for the report. Note that this repository is no longer used, we've moved to https://github.com/elastic/beats

Seems already fixed there.

[2016-04-25 13:07] #349 closed

[2016-04-25 15:30] morganchristiansson commented on #271
Yes. I've decided to go ahead with a renameless  approach where the app logs into the correct timedatestamped logfile. Exactly like in logs go into the correct datestamped logstash index in elasticsearch without renaming the indexes.

This seems like the superior approach to me.

Thank you.

[2016-04-26 06:37] ruflin commented on #271
@morganchristiansson Good to hear. You should not hit any issues with that. I hope we can offer more methods on how to track files in the future.

[2016-04-27 15:38] morganchristiansson commented on #271
Seems like I could still get issues in case an old log is deleted and a new one created with same inode? Which is why I asked how to disable the feature.

[2016-04-28 13:01] ruflin commented on #271
@morganchristiansson Correct. I'm currently working on improving that. As a first step I want that after the state file is cleaned up after `ignore_older`, so if a file reaches ignore_older it is removed from the state. So these inodes will be available again. Making sure you only remove files older then that, will "solve" your issue. But this is still under development ...

[2016-05-04 17:45] pjain-csg commented on #301
Here is a sample log file which needs to be parsed.  Everything between the rows ":DCExecutionEngineProfiles"  needs to be put together in a single row. The beginning row identifier could be ":DCExecutionEngineProfiles" and the ending row identifier could be just the line starting with a period ".". Can somebody suggest the kind of grok parser code I should use? Thanks in advance

:DCExecutionEngi

[2016-05-06 06:25] ruflin commented on #301
@pjain-csg Fore questions, please use https://discuss.elastic.co/c/beats/filebeat

[2016-05-10 10:35] Tecon commented on #309
Have you modified the config file of filebeat which is located at /etc/filebeat/filebeat.yml default?
If you have modified the filebeat.yml to make the output to stdout or make stdin tobe the input,problem happens of course for systemd is a deamon process.

[2016-05-10 14:40] zorel commented on #315
I have the same problem. I send all the log files in graylog/elasticsearch, and there is no mean at the end to distinguish to whom belongs the line of log. As there is no information inside the logfile for that. The logs are sent with a path globbing to listen to new files, so I can't set fields for each stderr/stdout.

Sending the owner of the file make possible the "routing" at the end, and thus

[2016-05-27 15:53] tony2944 opened #350 "Filebeat reading multiple files"
HI
We are using Filebeat to collect the logs from various folders.Example.A service is calling A1,A2 and A3.

All the logs are written in their respective folders.Filbeat is pushing the logs to logstash.In the logstash we are receiving and concat in the same order how the A service is calling.

IN our Filebeat configuration we set backoff_factor to .000001s.Becasue of this the CPU is reaching arou

[2016-05-27 16:13] urso commented on #350
Duplicate one: https://discuss.elastic.co/t/filebeat-cpu-high/51152
Please keep discussion to forum for now. For logstash specific questions, please consult logstash forum.

[2016-05-27 16:13] #350 closed

[2016-05-27 19:47] lucaspottersky commented on #301
Why can't one use multiline codec from LogStash?

[2016-06-06 23:34] svilcu commented on #132
beats->rabbitMQ would be nice.
We actually have logs shipped via TCP to syslog-ng->rabbitmq-> logstash->elastic

[2016-06-17 12:46] fatmanmclone90 commented on #68
Wildcards for directories not working for me either.  Would be a useful feature +1

[2016-06-17 12:48] tony2944 commented on #68
- for me /opt/logs/*/operational.log is working.

[2016-07-18 12:19] ruflin commented on #333
Closing as no recent updates here. Please reopen if the problem still persists with the most recent 5.0 builds.

[2016-07-18 12:19] #333 closed

[2016-07-18 12:20] ruflin commented on #202
Test were added ignore_older to and modification dates.

[2016-07-18 12:20] #202 closed

[2016-07-18 12:21] ruflin commented on #206
I suggest we keep try of this now in https://github.com/elastic/beats/issues/1464

[2016-07-18 12:21] #206 closed

[2016-07-18 12:24] ruflin commented on #311
Closing this issue as this feature was now released as part of the 5.0.0 releases

[2016-07-18 12:24] #311 closed

[2016-07-18 12:25] ruflin commented on #134
I think this is very similar to https://github.com/elastic/beats/issues/880. Closing this one in favor of https://github.com/elastic/beats/issues/880

[2016-07-18 12:25] #134 closed

[2016-07-18 12:27] ruflin commented on #66
Closing this as now all beats have a template by default.

[2016-07-18 12:27] #66 closed

[2016-07-18 12:28] ruflin commented on #77
Shutdown process of filebeat was rewritten for 5.0.0. This issues should now not happen anymore. Closing.

[2016-07-18 12:28] #77 closed

[2016-07-18 12:35] ruflin commented on #200
This could now be done with using tail_files first and then the state is stored as `ignore_older` is set to infinity by default. But it gets now more complex with the new `clean_*` options. I would close this one. Please reopen if you think we should do some more changes here.

[2016-07-18 12:35] #200 closed

[2016-07-18 13:44] fatmanmclone90 commented on #311
Great news that it's released, is it documented anywhere how to configure it?

[2016-07-18 13:45] ruflin commented on #311
https://www.elastic.co/guide/en/beats/filebeat/master/configuration-filebeat-options.html#config-json

[2016-07-18 13:50] tsg commented on #311
@fatmanmclone90 To clarify, it's released in 5.0.0-alpha. There is still a bit of time until it makes it in a GA release.

[2016-07-20 22:31] dculp commented on #130
@lmello were you ever able to accomplish access remotely?

[2016-07-21 15:13] andrewkroh commented on #130
@dculp If you have questions regarding Winlogbeat, I suggest posting at https://discuss.elastic.co/c/beats/winlogbeat (your questions will reach a wider audience).

[2016-07-26 23:38] mikeforbes commented on #148
+1 for this.

I'm having to modify the default init script (supplied via debian package) to allow filebeat to run as a non-root user. (as well as creating a filebeat user & group, adding to 'adm' group to read logfiles)

It would be great if this was a feature.

[2016-07-27 08:27] ruflin commented on #148
@mikeforbes Can you share the modifications you make?

[2016-07-27 22:03] mikeforbes commented on #148
@ruflin Surel here it is:

https://gist.github.com/mikeforbes/748895127b2f75a9841ae66d4c89e824

Be sure to create the 'filebeat' user as specified in the comments of the init script there and of course you'll need to make sure the user is in the appropriate groups to read the log files you're sending to filebeat.
In my case adding to the 'adm' group was sufficient.

[2016-08-02 07:10] ruflin commented on #148
@mikeforbes Thanks for sharing.

[2016-08-08 13:37] Akshaykapoor commented on #328
@urso how can i send 2 different files from the same machine to different 2 logstash instances (on 2 different machines). Can you suggest what is the best approach for this. If it's running multiple instances, could you list out the different variables to be changed when creating a copy of the init script (Using centOS) ?

[2016-08-08 13:40] urso commented on #328
@Akshaykapoor please use https://discuss.elastic.co for support questions. 2 filebeat instance would be required in this case. Configuration options depend on filebeat release 1.x or 5.x .

[2016-09-02 14:17] ruflin commented on #315
I'm closing this issue in favor of https://github.com/elastic/beats/issues/1775 to make sure we keep it on the radar. All development happens in the beats repo now.

[2016-09-02 14:17] #315 closed

[2016-09-02 14:20] ruflin commented on #141
As the OS runs out of file descriptors in this case which either blocks filebeat or on Windows errors are returned, we introduced `harvester_limit` in the most recent version which should solve this issue: https://www.elastic.co/guide/en/beats/filebeat/master/configuration-filebeat-options.html#_harvester_limit

[2016-09-02 14:20] #141 closed

[2016-09-02 14:55] nellicus commented on #141
great work @ruflin !

[2016-09-12 13:01] vortex314 commented on #311
@elastic.co
We are also looking for a simple solution to get logs into ES.
Our chain looks like this ( based on standardized JSON log format ) :+1:
Application -> JSON log file -> FileBeat -> Kafka -> LogStash ( no parsing ) -> ES
or
Application via Log4J KafkaAppender -> Kafka -> LS -> ES
Just to avoid this complex parsing depending on the application. Using the same data format everywhere strong

[2016-09-12 13:24] ruflin commented on #311
@vortex314 As this issue is closed, can you please open a new topic here for discussions / questions: https://discuss.elastic.co/c/beats/filebeat ?

[2016-09-16 01:16] GittyHup opened #351 "Error when sending to redis output"
Getting the following errors when having filebeats send to redis:

	2016-09-15T17:48:39-07:00 ERR Failed to RPUSH to redis list (write tcp 10.243.196.92:51305->10.218.248.248:6379: i/o timeout) with %!v(MISSING)
	2016-09-15T17:48:39-07:00 INFO Error publishing events (retrying): write tcp 10.243.196.92:51305->10.218.248.248:6379: i/o timeout
	2016-09-15T17:48:39-07:00 DBG  close connection
	2016-0

[2016-09-16 07:02] ruflin commented on #351
Please use discuss for questions: https://discuss.elastic.co/c/beats/filebeat Please open a topic there and also share which filebeat version you are using.

[2016-09-16 07:02] #351 closed

[2016-09-16 14:17] ruflin commented on #271
The new close_* and clean_* options in filebeat 5.0 should solve this issues. For more discussions also see https://github.com/elastic/beats/issues/1600 Closing this issue.

[2016-09-16 14:17] #271 closed

[2016-09-16 14:18] ruflin commented on #143
Closing as this is not planned to be implemented in the near future.

[2016-09-16 14:18] #143 closed

[2016-09-16 14:19] ruflin commented on #68
Closing this in favor of https://github.com/elastic/beats/issues/2084

[2016-09-16 14:19] #68 closed

[2016-09-16 14:23] ruflin commented on #185
Closing this issue as this this would require that on startup filebeat would have to persist a state for all files around (including the ones falling under ignore_older). Otherwise it can't now if a file which was falling under ignore_older, if it is a new file or a file that was just updated.

This can be potentially be solved by starting filebeat the first time with `-once` with tail_files enabl

[2016-09-16 14:23] #185 closed

[2016-09-16 14:26] ruflin commented on #328
Closing this as there are no near term plans to implement this.

[2016-09-16 14:26] #328 closed